<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage User</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="user_header :: header"></div>


    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">User Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/findUserPage"> Manage User</a></dd>
                        <dd><a href="/addUserPage"> Add User</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">Document Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/addDocumentPage"> Add Document</a></dd>
                        <dd><a href="/deleteBookPage"> Delete Document</a></dd>
                        <dd><a href="/modifyBookPage"> Modify Document</a></dd>
                        <dd><a href="/findBookPage"> Check Overdue Document</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">
        <div class="layui-row">
        <hr class="layui-bg-blue">
        <h1 style="text-align:left">Search User</h1>
        <hr class="layui-bg-blue">

        <form class="layui-form" method="post" id="findUserForm" action="/findUser">
            <div class="layui-form-item">
                <label class="layui-form-label">UserName</label>
                <div class="layui-input-inline">
                <input type="text" class="layui-input" autocomplete="off" autofocus
                       name="name" lay-verify="required"  placeholder="Enter User Name">
                </div>
                <input class="layui-btn" lay-submit="" type="submit" value="Search">
            </div>
        </form>
    </div>
        <div class="layui-row">
            <h1 style="text-align: left">Result</h1>
            <hr class="layui-bg-blue">

            <table class="layui-table ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tr th:each="user:${users}">
                    <td><label th:text="${user.getUserId()}"></label></td>
                    <td><label th:text="${user.getName()}"></label></td>
                    <td>
                        <label th:if="${user.getManage()}eq 0">User</label>
                        <label th:if="${user.getManage()}eq 1">Admin</label>
                    </td>

                </tr>
            </table>
        </div>
    </div>


<script src="/script/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script>
        layui.use(['form', 'element'], function () {
            let form = layui.form;
            let element = layui.element;
        //    let layer = layui.layer;

        //    form.on('submit(btn_addUser)', function (data) {
        //        addUser();
        //        return false;
        //    });
        });

        function addUser() {
            $.ajax({
                async: false,
                type: 'post',
                url: '/addUser',
                data: $('#addUserForm').serialize(),
                success: function (data) {
                    layer.msg("Success", {icon: 1, time: 1500});

                    setTimeout(function () {
                        location.reload();
                    }, 1500)
                },
                error: function (data) {
                    layer.msg("Failed", {icon: 2});
                }
            });
        };
    </script>
</div>
</body>
</html>