<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Info</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div th:include="user_header :: header"></div>


  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree">

        <li class="layui-nav-item ">
          <a class="" href="javascript:;">Book Management</a>
          <dl class="layui-nav-child">
            <dd><a href="/userBorrowBookRecord">&emsp;&emsp;Book Info</a></dd>
            <dd><a href="/borrowingPage">&emsp;&emsp;Book Document</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item ">
          <a class="" href="javascript:;">Document Management</a>
          <dl class="layui-nav-child">
            <dd><a href="/userReturnBooksPage">&emsp;&emsp;Return Document</a></dd>
            <dd><a href="/findBookPage">&emsp;&emsp;Search Document</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-body layui-container">

    <div class="layui-row">
      <hr class="layui-bg-blue">
      <h1 style="text-align: left">Book Info</h1>
      <hr class="layui-bg-blue">

      <table class="layui-table ">
        <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>State</th>
        </tr>
        </thead>

        <tr th:each="borrow:${borrowInfos}">
          <td><label th:text="${borrow.getBorrowId()}"></label></td>
          <td><label th:text="${borrow.getTitle()}"></label></td>
          <td><label th:text="${borrow.getStrdate()}"></label></td>
          <td><label th:text="${borrow.getEnddate()}"></label></td>
          <td><label th:text="${borrow.getState()}"></label></td>
        </tr>

      </table>
    </div>
  </div>

</div>
<script src="/script/jquery.min.js"></script>
<script src="/layui/layui.js"></script>

<script>
  layui.use(['form', 'element'], function () {
    let form = layui.form;
    let element = layui.element;
  });
</script>
</body>
</html>