<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Document</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="user_header :: header"></div>


    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">Book Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userBorrowBookRecord">&emsp;&emsp;Book Info</a></dd>
                        <dd><a href="/borrowingPage">&emsp;&emsp;Book Document</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">Document Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userReturnBooksPage">&emsp;&emsp;Return Document</a></dd>
                        <dd><a href="/findBookPage">&emsp;&emsp;Search Document</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">

        <div class="layui-row">

            <hr class="layui-bg-blue">
            <h1 style="text-align:left">Book Document</h1>
            <hr class="layui-bg-blue">

            <form class="layui-form" method="post" action="/findDocumentByID" id="findBookByNameForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">Document ID:</label>
                    <div class="layui-input-inline">
                        <input placeholder="Enter Document ID" class="layui-input" autofocus autocomplete="off" type="text"
                               name="documentId" lay-verify="">
                    </div>

                    <input class="layui-btn" type="submit" lay-submit="" value="Search">
                </div>
            </form>
        </div>

        <div class="layui-row">

            <h1 style="text-align: left">Result</h1>
            <hr class="layui-bg-blue">

            <table class="layui-table ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Classification</th>
                    <th>Keyword</th>
                    <th>Capacity</th>
                </tr>
                </thead>
                <tr th:if="${documents}">
                    <td><label id="bookId" th:text="${documents.getDocumentId()}"></label></td>
                    <td><label th:text="${documents.getTitle()}"></label></td>
                    <td><label th:text="${documents.getType()}"></label></td>
                    <td><label th:text="${documents.getClassification()}"></label></td>
                    <td><label th:text="${documents.getKeyword()}"></label></td>
                    <td><label th:text="${documents.getCapacity()}"></label></td>
                </tr>

            </table>

            <div>
                <button class="layui-btn layui-bg-blue" id="btn1">Book</button>
            </div>

        </div>
    </div>

</div>
<script src="/script/jquery.min.js"></script>
<script src="/layui/layui.js"></script>

<script>
    layui.use(['form', 'element','layer'], function () {
        let form = layui.form;
        let element = layui.element;
        let layer = layui.layer;
    });
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;
    });
    $(document).ready(function () {
        $("#btn1").click(function () {
            let bookId = document.getElementById("bookId").innerText;
            borrowingBook(bookId)
        });
    });

    function borrowingBook(bookId) {
        $.ajax({
            async: false,
            type: "post",
            url: "/userBorrowingBook",
            dataType: "json",
            data: {bookId: bookId},
            success: function (data) {
                console.log(data.toString());
                if (data.toString() == "true") {
                    layer.msg('Book Success!', {icon: 6, time: 2000});
                } else {
                    layer.msg('Book Failed', {icon: 7, time: 2000});
                }
            },
            error: function (data) {
                layer.alert(data.result);
            }
        });
    };

</script>
</body>
</html>