<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Document</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="user_header :: header"></div>


    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">Book Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userBorrowBookRecord">&emsp;&emsp;Book Info</a></dd>
                        <dd><a href="/borrowingPage">&emsp;&emsp;Book Document</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">Document Management</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/userReturnBooksPage">&emsp;&emsp;Return Document</a></dd>
                        <dd><a href="/findBookPage">&emsp;&emsp;Search Document</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">

        <div class="layui-row">

                <hr class="layui-bg-blue">
                <h1 style="text-align:left">Search Document</h1>
                <hr class="layui-bg-blue">

                <form class="layui-form" method="post" action="/findDocument" id="findBookByNameForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label">Type:</label>
                        <div class="layui-input-inline">
                        <select name="type" lay-verify="required">
                            <option value="">Select Type</option>
                            <option value="book">Book</option>
                            <option value="magazine">Magazine</option>
                            <option value="article">Article</option>
                        </select>
                        </div>
                        <label class="layui-form-label">Title:</label>
                            <div class="layui-input-inline">
                            <input placeholder="Enter Title Info" class="layui-input" autofocus autocomplete="off" type="text"
                                   name="title" lay-verify="">
                            </div>
                        <label class="layui-form-label">Classification:</label>
                        <div class="layui-input-inline">
                            <input placeholder="Enter Classification" class="layui-input" autofocus autocomplete="off" type="text"
                                   name="classification" lay-verify="">
                        </div>
                        <input class="layui-btn" type="submit" lay-submit="" value="Search">
                    </div>
                </form>
            </div>

        <div class="layui-row">

                <h1 style="text-align: left">Result</h1>
                <hr class="layui-bg-blue">

                <table class="layui-table ">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Classification</th>
                        <th>Keyword</th>
                        <th th:if="${session.type}eq'book'">Authors</th>
                        <th th:if="${session.type}eq'book'">Publisher</th>
                        <th th:if="${session.type}eq'book'">Editions</th>
                        <th th:if="${session.type}eq'magazine'">Editors</th>
                        <th th:if="${session.type}eq'magazine'">Contributors</th>
                        <th th:if="${session.type}eq'magazine'">Issue</th>
                        <th th:if="${session.type}eq'magazine'">Date</th>
                        <th th:if="${session.type}eq'article'">Authors</th>
                        <th th:if="${session.type}eq'article'">Issue</th>
                        <th th:if="${session.type}eq'article'">Date</th>
                        <th>Capacity</th>
                        <th>Room</th>
                    </tr>
                    </thead>

                    <tr th:each="book:${documentsList}">
                        <td><label th:text="${book.getDocumentId()}"></label></td>
                        <td><label th:text="${book.getTitle()}"></label></td>
                        <td><label th:text="${book.getType()}"></label></td>
                        <td><label th:text="${book.getClassification()}"></label></td>
                        <td><label th:text="${book.getKeyword()}"></label></td>
                        <td th:if="${session.type}eq'book'"><label th:text="${book.getBookAuthors()}"></label></td>
                        <td th:if="${session.type}eq'book'"><label th:text="${book.getBookPublisher()}"></label></td>
                        <td th:if="${session.type}eq'book'"><label th:text="${book.getBookEditions()}"></label></td>
                        <td th:if="${session.type}eq'magazine'"><label th:text="${book.getMagazineEditors()}"></label></td>
                        <td th:if="${session.type}eq'magazine'"><label th:text="${book.getMagazineContributors()}"></label></td>
                        <td th:if="${session.type}eq'magazine'"><label th:text="${book.getMagazineIssue()}"></label></td>
                        <td th:if="${session.type}eq'magazine'"><label th:text="${book.getMagazineDate()}"></label></td>
                        <td th:if="${session.type}eq'article'"><label th:text="${book.getArticleAuthors()}"></label></td>
                        <td th:if="${session.type}eq'article'"><label th:text="${book.getArticleIssue()}"></label></td>
                        <td th:if="${session.type}eq'article'"><label th:text="${book.getArticleDate()}"></label></td>
                        <td><label th:text="${book.getCapacity()}"></label></td>
                        <td><label th:text="${book.getRoom()}"></label></td>
                    </tr>

                </table>
            </div>
        </div>

</div>
    <script src="/script/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script>
        layui.use(['form', 'element'], function () {
            let form = layui.form;
            let element = layui.element;
        });
    </script>
</body>
</html>