<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <footer th:fragment="header">
    <div class="layui-header">
      <div class=" layui-nav " style="font-size: x-large; color: #58a2ee;line-height: 60px;">Library Management System</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="/user_image.jpg" class="layui-nav-img">
            <span th:text="${session.user.getName().toUpperCase()}"></span>
          </a>
        </li>
        <li class="layui-nav-item"><a href="/userLogOut">LogOut</a></li>
      </ul>
    </div>

  </footer>
</head>
</html>